.company {
  display: flex;
  align-items: center;
  gap: 20px;

    &__title {
      margin: 0;
      font: $text-company;
    }

    &__subtitle {
      margin: 0;
      padding: 4px 8px;
      background-color: $green;
      color: $primaryColor;
      border-radius: 4px;
      font: $text-company-subtitle;
    }
}

@media (max-width: 500px) {
  .company {
    gap: 16px;

    &__title {
      font: $text-company_mobile;
    }
  }
}
