.card-large {
  max-width: 470px;
  background: #1c1c1e;
  border-radius: 16px;
  padding: 40px;
  transition: background 0.3s linear;

  &__category {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #8e8e98;
  }

  &__heading {
    margin: 20px 0 40px 0;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
  }

  &__description {
    margin: 0 0 40px 0;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #8e8e98;
  }

  &__price {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #25e197;
  }
}

.card-large:hover {
  background: #232327;
  cursor: pointer;
}

@media (max-width: 1350px) {
  .card-large {
    max-width: 568px;
  }
}

@media (max-width: 500px) {
  .card-large {
    padding: 20px;
    max-width: 240px;

    &__heading {
      margin: 10px 0 28px 0;
      font-size: 24px;
      line-height: 32px;
    }

    &__description {
      margin: 0 0 100px 0;
      font-size: 12px;
      line-height: 18px;
    }

    &__price {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
