.intro {
  padding: 60px 160px;

  &__title {
    margin: 0 0 20px 0;
    font-weight: normal;
    font-size: 112px;
    line-height: 112px;
  }

  &__subtitle {
    margin: 0 0 230px 0;
    font-weight: normal;
    font-size: 80px;
    line-height: 70px;
  }
}

@media (max-width: 1350px) {
  .intro {
    padding: 70px 0 20px 60px;

    &__title {
      margin: 0;
      font-size: 70px;
      line-height: 90px;
    }

    &__subtitle {
      margin: 0 0 470px 0;
      font-size: 50px;
      line-height: 60px;
    }
  }
}

@media (max-width: 500px) {
  .intro {
    padding: 60px 0 20px 20px;

    &__title {
      font-size: 50px;
      line-height: 60px;
    }

    &__subtitle {
      margin: 0 0 260px 0;
      font-size: 30px;
      line-height: 38px;
    }
  }
}
