  /* ЦВЕТА */
$primaryColor: #000;
$secondaryColor: #1c1c1e;
$primaryTextColor: #fff;
$secondaryTextColor: #8e8e98;
$yellow: #ffd233;
$green: #25e197;

  /* ЗАГОЛОВКИ */
  $heading-1_desktop: 400 112px/112px Roboto;
  $heading-1_tablet: 400 70px/90px Roboto;
  $heading-1_mobile: 400 50px/60px Roboto;
  $heading-2_desktop: 400 80px/70px Roboto;
  $heading-2_tablet: 400 50px/60px Roboto;
  $heading-2_mobile: 400 30px/38px Roboto;

  /* ТЕКСТ */
  $text-main_desktop: 400 32px/40px Roboto;
  $text-main_tablet: 400 20px/30px Roboto;
  $text-main_mobile: 400 12px/18px Roboto;
  $text-company: 400 22px/30px Roboto;
  $text-company_mobile: 400 20px/28px Roboto;
  $text-company-subtitle: 400 12px/12px Roboto;
  $text-card-small: 400 15px/19px Roboto;
  $text-button: 400 14px/24px Roboto;
  $text-card-category: 400 18px/18px Roboto;
  $text-card-category_mobile: 500 18px/18px Roboto;
  $text-card-heading: 400 32px/32px Roboto;
  $text-card-price: 400 14px/14px Roboto;
  $text-card-heading_mobile: 400 24px/32px Roboto;

